#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    place-items: center;
}

#quote-box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    #quote-box {
        width: 85vw;
        height: 75vh;
        padding: 20px;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    #quote-box {
        width: 60vw;
        height: 70vh;
        padding: 10px;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 992px) {
    #quote-box {
        width: 50vw;
        height: 60vh;
        justify-content: space-around;
    }
}